{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
    <link rel="icon" type="image/webp" href="{% static 'images/Logo.webp' %}">
    <title>Students of EHS</title>
</head>
<body>
    
    <div class="navBar justify-content-center" style="background-color: #333;">
        <div class="navBarText">Students of CD EHS</div>
        <a href="../polls/">Home</a> 
        <a href="/news">News</a>
        <a href="../polls/">Polls</a> 
    </div>

    <div class="imageSlidesContainer">
      <img src="{% static 'images/cd-ehs-side.jpeg' %}" class="img-fluid">
      <img src="{% static 'images/aura-lion.webp' %}" class="img-fluid">
      <img src="{% static 'images/school-side-grass-cut.webp' %}" class="img-fluid">
      <img src="{% static 'images/principle-with-quinten.webp' %}" class="img-fluid">
    </div>


    <h1 style="font-size: 5em;"><b>The Website by Students for Students</b></h1>
         
 

<div class="container my-5">
  <div class="row g-4">
    <div class="col-12 col-md-6 col-lg-4">
      <section class="card h-100 shadow-sm">
        <div class="card-body">
          <h2 class="card-title h5">About the website</h2>
          <p class="card-text">Our goal as your peers and potential class officers is to provide EVERYONE with a voice. If Alex Brandt and I are elected, we'd use this website to allow everyone to do things like vote on snacks, bake sales and more via polls, create suggestions for clubs and events, and more" - <b>Quentin Heng 2026</b></p>
        </div>
      </section>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <section class="card h-100 shadow-sm">
        <div class="card-body">
          <h2 class="card-title h5">Why the website?</h2>
          <p class="card-text">It was brought to our attention that many have felt under represented the last two years, confused on what role our class officers actually played. That's why we went above and beyond and created this website; to ensure everyone who would like to be kept in the loop, can be (without needing social media or connections to us directly).</p>
        </div>
      </section>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <section class="card h-100 shadow-sm">
        <div class="card-body">
          <h2 class="card-title h5">Class of 2028 Election</h2>
          <p class="card-text">If our ideologies and motives have peaked your interest, or if you'd like a change for a brighter high school career, vote Quentin Heng and Alex Brandt for your 2028 class presidents. Following our victory, we'll continue to work on finalizing site, and making decisions that benefit our entire class as a whole.</p>
        </div>
      </section>
    </div>
  </div>
</div>



    <h1>The People Behind Students of EHS</h1>

<div class="container my-5">
  <div class="row g-4 justify-content-center">
    <div class="col-12 col-md-5">
      <section class="card h-100 shadow-sm">
        <div class="card-body">
          <h2 class="card-title h5" style="font-size: 1.5em;">Alexander Dmitrovic</h2>
          <img src="{% static 'images/alexander.webp' %}" class="img-fluid" alt="Picture of Alexander Dmitrovic">
          <p class="card-text text-center" style="font-size: 1.5em;">Frontend and Backend Developer and Designer</p>
          <div class="mt-auto pt-3 text-center">
            <h3 class="h6">Contact</h3>
          <a href="mailto:alexanderdmit@pm.me">alexanderdmit@pm.me</a>
        </div>
      </section>
    </div>

    <div class="col-12 col-md-5">
      <section class="card h-100 shadow-sm">
        <div class="card-body">
          <h2 class="card-title h5" style="font-size: 1.5em;">Quintenn Heng</h2>
          <img src="{% static 'images/quentin.webp' %}" class="img-fluid">
          <p class="card-text text-center" style="font-size: 1.5em;">Future President, Owner and Designer</p>
          <div class="mt-auto pt-3 text-center">
            <h3 class="h6">Contact</h3>
          <a href="mailto:quentin.n.heng@gmail.com">quentin.n.heng@gmail.com</a>
        </div>
        </div>
      </section>
    </div>

    <div class="col-12 col-md-5">
      <section class="card h-100 shadow-sm">
        <div class="card-body">
          <h2 class="card-title h5" style="font-size: 1.5em;">Alex Brandt</h2>
          <img src="{% static 'images/alexbrant.webp' %}" class="img-fluid">
          <p class="card-text text-center" style="font-size: 1.5em;">Future Vice-President</p>
        </div>
      </section>
    </div>
  </div>
</div>

    <h1>Have Any Feedback?</h1>
    <p style="text-align: center;">Go ahead and send feedback in the Google Form below</p>

    <div class="container my-4">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
          <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSc2TCiD2BFJaU7YQHSzXJFZzf5OsSmogNNP63CkoXOrPptjxg/viewform?embedded=true" width="100%" height="714" loading="lazy">
          </iframe>
        </div>
      </div>
    </div>            

    <hr>

    <footer style="text-align: center;">
        Students of EHS 2026 - Not Affiliated with Central Dauphin School District - Made with human hands 
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>