{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
    <title>News | Students of EHS</title>
</head>
<body>
    
    <div class="navBar justify-content-center" style="background-color: #333;">
        <div class="navBarText">Students of CD EHS</div>
        <a href="/">Home</a> 
        <a href="/news">News</a>
        <a href="../polls/">Polls</a> 
    </div>

    <div class="alert alert-warning" role="alert">
      This page is currently not finished please check back later!
    </div>

    <h1>News</h1>

    <hr>

    <footer style="text-align: center;">
        Students of EHS 2026 - Not Affiliated with Central Dauphin School District - Made with human hands
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>